body {
  font-family: Roboto, sans-serif;
  margin: 20px;
  }
header {
  font-family: Spartan, sans-serif;
  font-size: 4rem;
}
background {
  url('img/book-cover.jpg');
  url("https://libadmin.ugent.be/settings/uploads/catalog_records/images/a7/91/rug01-002378057/original.jpg") no-repeat left;
}

table {
  border-collapse: collapse;
  width: 400px;
}
table.menu {
    width: auto;
    margin-right: 0px;
    margin-left: 50%;
}

td,th {
  border: 1px;
  padding: 0.5rem;
  text-align: left;
}
th {
  font-size: 3rem;
  font-family: Spartan, sans-serif;
  font-weight: 600;
}
