body {
  font-family: var(--font-reading);
  font-size: 16px;
  width: 1000px;
  margin: auto;
  }
 :root {
  --font-display: Spartan, sans-serif;
  --font-reading: Roboto, sans-serif;
}

header {
  font-family: var(--font-display);
  font-size: 4rem;
}

table {
  border-collapse: collapse;
  width: 400px;
}

div {
  display: flex;
  flex-wrap: wrap;
}
 div > p {
  width: 200px;
}

.big-numbers {
  font-family: var(--font-display);
  font-size: 4rem;
}
